@function nav-image-url($path) {
  @return url("../components/iman-styles-navigation/assets/#{$path}");
}

.nav {
  list-style:none;

  li {
    display:inline;
  }

  a {
    display:inline-block;
  }
}

.nav-sticky {
  left: 50%;
  max-width: 940px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);

  &.is-fixed {
    position: fixed;
  }

  @media (max-width: 850px) {
    a {
      font-size: 11px !important;
    }
  }

  @media (max-width: 800px) {
    &, &.is-fixed {
      position: relative !important;
    }

    a {
      font-size: 12px !important;
    }
  }
}

/*
 * Iman - Main blue nav
 */
.nav-1 {

  > .nav__item {
    float: left;
    position: relative;

    &:hover > a,
    &:hover > span {
      background: $blue-lightest;
      position: relative;
      z-index: 10;
    }
  }

  > .nav__item > a,
  > .nav__item > span {
    color: $white;
    font-size: 11px;
    font-weight: bold;
    line-height: 35px;
    padding: 10px 40px 10px 20px;
    position: relative;
    text-transform: uppercase;

    .no-csstransforms & {
      padding-right: 38px;
    }

    &:after {
      @include triangle(bottom, 9px, 5px, $white);
      content: "";
      display: block;
      position: absolute;
      right: 20px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      .no-csstransitions & {
        top: 43%;
      }
    }
  }

  > .nav__item:hover > .child-list {
    display: block;
  }

  .nav__item a,
  .nav__item span {
    @include improve-text-rendering;
    display: block;
    font-weight: bold;
    text-decoration: none;
    line-height: 18px;
  }
}

.child-list {
  background: $white;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  display: none;
  left: 0;
  position: absolute;
  top: 3px;
  padding-top: 35px;
  width: 100%;

  .no-csstransitions & {
    border: 1px solid $grey-light;
  }
}

.child-list__item:last-child a {
    border-radius: 0 0 5px 5px;
}

.child-list__item a {
  color: $grey-dark;
  font-size: 12px;
  padding: 10px 20px;

  &:hover {
    background: $grey-lightest;
    color: $grey-darkest;
  }
}

.btn-apply-now {
  @include improve-text-rendering;
  background: $green;
  color: $white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 38px;
  padding: 0 26px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s ease-in-out;

  &:hover {
    background: lighten($green,4);
    transition: all 0.5s ease-in-out;
  }

  .no-csstransitions & {
    padding: 0 14px;
  }
}

/*
 * Used in a stick nav - might not be needed for Iman
 */
.nav-2 {
  box-shadow: 0 2px 20px rgba(#000, 0.35);
  display:block;

  & > .nav__item,
  &.nav-sticky .nav__item {
    @include border-box;
    display: block;
    float: left;
    position: relative;
    &:first-child {
      border-left: 0;
      a,
      span {
        border-radius: 0 0 0 5px;
      }
    }
    &:last-child {
      a,
      span {
        border-radius: 0 0 5px 0;
      }
    }
  }

  & > .nav__item > a,
  & > .nav__item > span,
  &.nav-sticky .nav__item a {
    @include improve-text-rendering;
    @include vertical-gradient(#f9f9f9, #ddd, #f9f9f9);
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #ddd;
    //color: $grey;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: baseline(2);
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      @include vertical-gradient(#fff, #ddd, #f9f9f9);
      //color: $dark-grey;
    }
    &.is-selected {
      @include vertical-gradient(#fff, #ddd, #f9f9f9);
      //color: $dark-green;
      position: relative;
      &:after,
      &:before {
        @include show-pseudo-element;
        @include triangle('bottom', 20px, 10px, #ddd);
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
        position: absolute;
      }
      &:before {
        @include triangle('bottom', 22px, 11px, #fff);
        bottom: -12px;
        margin-left: -11px;
      }
      .no-cssgradients &:after {
        display: none;
      }

      // ie10
      .no-pointerevents &:after {
        @include triangle('bottom', 20px, 10px, #fafafa);
        bottom: -9px;
      }
    }
  }

  @media (max-width: 800px) {
    &.nav-sticky .nav__item:first-child a,
    &.nav-sticky .nav__item:last-child a {
      border-radius: 0 !important;
    }

    &.nav-sticky .nav__item .is-selected:before,
    &.nav-sticky .nav__item .is-selected:after {
      display: none !important;
    }
  }


  .nav__item--parent > a,
  .nav__item--parent > span {
    position: relative;
    z-index: 2;

    @include after {
      @include show-pseudo-element;
      @include transform(translateY(-50%));
      top: 50%;
      position: absolute;
      right: 15px;
      height: 16px;
      width: 16px;
      opacity: 0.8;
      background: component-url('nib-styles-accordion', 'down.png') no-repeat top right;
      background: component-url('nib-styles-accordion', 'down.svg') no-repeat top right, none;
      background-size: 16px 16px;
    }

    // Pre-load the other image so we don't get a flash
    @include before {
      background: component-url('nib-styles-accordion', 'up.svg') no-repeat top right;
      height: 0;
      width: 0;
      position: absolute;
    }

    &.is-open:after {
      background-image: component-url('nib-styles-accordion', 'up.png');
      background-image: component-url('nib-styles-accordion', 'up.svg'), none;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  &.nav--vertical {
    & > .nav__item {
      float: none;
      &:last-child > a,
      &:last-child > span {
        border-bottom: 0;
      }
    }
    & > .nav__item > a,
    & > .nav__item > span {
      border-radius: 0;
      text-align: left;
      padding: 0 20px;
      border-bottom: 1px solid #bbb;
      border-left: 0;
    }
    & > .nav__sub {
      position: relative;
      z-index: 1;
    }
  }
}

/*
 * Used in Iman Footer Links (copyright)
 */
.nav-3 {

  li {
    float: left;
    display: inline;
    border-left: 1px solid $grey-dark;
  }

  a {
    padding: 0 6px;
    color: $grey-dark;
    text-decoration: none;
  }

  a:hover {
    color: $white;
    text-decoration: underline;
  }

  li:first-child {
    border-left: none;
  }

  li:first-child a {
    padding-left: 0;
  }
}

.nav-secondary {
  @extend .nav;
  @extend .list-inline;

  li {
    border-left: 1px solid $border-color;
    line-height: 20px;
  }

  li:first-child {
    border-left: none;
  }

  a {
    text-decoration: none;
    padding: 0 $spacing-small;
    font-size: 12px;
  }
}


.nav-4 {
  border-top: 1px solid #666;

  // When this nav is a sub-menu
  &.nav--sub {
    border-top: 0;
    .nav__item:first-child a {
      box-shadow: 0 4px 5px rgba(black, 0.25) inset;
    }
    & > .nav__item > a {
      padding-left: 30px;
    }
  }

  &.nav--muted {
    a {
      text-transform: uppercase;
      font-size: 10px;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }

  .nav__item {
    @include border-box;
    display: block;
    position: relative;
  }

  a {
    @include improve-text-rendering;
    border-bottom: 1px solid #666;
    background: #444;
    color: white;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: baseline(2);
    padding: 0 20px;
    text-decoration: none;
    &:hover {
      background: #555;
    }
  }
}

.nav-ribbon {
  background-color: $grey-lightest;
  color: #666;
  border-bottom: 1px solid $grey;
  padding: spacing(1) 0;

  & > div {
    @include clear-floats;
  }
}

.nav-5 {

  .nav__item {
    border-left: 1px solid $grey;
    display: inline;
    float: left;
  }

  .nav__item:first-child {
      border-left: none;

      a {
        padding-left: 0;
      }
  }

  .nav__item a,
  .nav__item a:visited,
  .nav__item input[type=submit] {
      padding: 0 $spacing-small;
      color: $grey-dark;
      font-size: 11px;
      text-decoration: none;
  }

  .nav__item a:hover {
      color: $blue-lightest;
      text-decoration: underline;
      cursor: pointer;
  }
}

#search input {
    border: 1px solid darken($grey, 5);
    line-height: 1;
    float: left;
}

#search input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border-right:0 none !important;
    border-radius: 4px 0 0 4px;
    color: #666666;
    height: 22px;
    padding: 0 spacing(1);
    width: 200px;
    font-size: 12px;
}

#search input[type="submit"] {
    background: #DDD;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#F9F9F9), color-stop(100%,#DDD));
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    -moz-box-shadow: 1px 1px 0 rgba($white, 0.5) inset;
    -webkit-box-shadow: 1px 1px 0 rgba($white, 0.5) inset;
    box-shadow: 1px 1px 0 rgba($white, 0.5) inset;
    color: #444;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    height: 24px;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 white;
    width: 60px !important;
    font-family: Arial,Helvetica,sans-serif;
}

// Iman Progress Nav - Used throughout Join
.im-nav-progress {
  bottom: -1px;
  position: relative;

  .im-nav-progress__item {
    float: left;
    position: relative;
    text-align: center;
  }

  .im-nav-progress__item {
    float: left;
    position: relative;
    text-align: center;

    &:before {
      background: $grey-light;
      bottom: 0;
      content: "";
      display: block;
      height: 10px;
      position: absolute;
      width: 100%;
      left: 0;
      z-index: 1;
    }

    &:after {
      display: block;
      position: absolute;
      height: 10px;
      left: 0;
      bottom: 0;
      background: rgba(#000, 0.1);
      content: "";
      width: 1px;
      z-index: 5;
    }

    &:first-child:after {
      display: none;
    }
  }

  .im-nav-progress__item a {
    @extend .anchor-2;
    display: block;
    font-size: 14px;
    padding: 0 0 20px 0;
    position: relative;
    text-decoration: none;
  }

  .im-nav-progress__item.is-active a {
    color: $blue-lightest;
    font-weight: 600;
  }

  .im-nav-progress__item a  {
    background-color: transparent;
  }

  .im-nav-progress__item:first-child:before,
  .im-nav-progress__item.is-visited:before {
    background: $blue-lightest nav-image-url('stripes.gif') top right;
  }
}