@function nav-image-url($path) {
  @return url("../components/iman-styles-navigation/assets/#{$path}");
}

.nav {
  list-style:none;

  li {
    display:inline;
  }

  a {
    display:inline-block;
  }
}

.nav-sticky {
  left: 50%;
  max-width: 940px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);

  &.is-fixed {
    position: fixed;
  }

  @media (max-width: 850px) {
    a {
      font-size: 11px !important;
    }
  }

  @media (max-width: 800px) {
    &, &.is-fixed {
      position: relative !important;
    }

    a {
      font-size: 12px !important;
    }
  }
}

/*
 * Iman - Main nav
 */
.nav-1 {
  text-align: right;

  > .nav__item {
    display: inline-block;
    position: relative;

    &:hover > a,
    &:hover > span {
      background: lighten($purple, 8%);
      position: relative;
      z-index: 10;
    }
  }

  > .nav__item > a,
  > .nav__item > span {
    font-family: $font-family-roboto;
    color: $white;
    font-size: 14px;
    line-height: 35px;
    padding: 12px 38px 12px 18px;
    position: relative;

    &:after {
      background-position: 0 0;
      background-repeat: no-repeat;
      background-image: nav-image-url('icon-arrow-down-white-10.png');
      background-image: nav-image-url('icon-arrow-down-white-10.svg'), none;
      content: "";
      display: block;
      position: absolute;
      right: 20px;
      top: 50%;
      width: 10px;
      height: 6px;
      -webkit-transform: translateY(-40%);
      -moz-transform: translateY(-40%);
      transform: translateY(-40%);

      .no-csstransitions & {
        top: 47%;
      }

      .no-cssanimations.no-csstransforms & {
        top: 45%;
      }
    }
  }

  > .nav__item:hover > .child-list {
    display: block;
  }

  .nav__item {
    text-align: left;
  }

  .nav__item a,
  .nav__item span {
    @include improve-text-rendering;
    display: block;
    font-weight: 400;
    text-decoration: none;
    line-height: 18px;
  }
}

.child-list {
  background: $white;
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
  display: none;
  left: 0;
  position: absolute;
  top: 7px;
  padding-top: 35px;
  width: 100%;

  // IE8
  .no-cssanimations.no-csstransforms & {
    border: 1px solid $grey-light;
    width: 99%;
  }
}

.child-list__item:last-child a {
    border-radius: 0 0 5px 5px;
}

.child-list__item a {
  color: #666;
  font-size: 13px;
  padding: 10px 18px;

  &:hover {
    background: #f3f3f3;
    color: #333;
  }

  .no-csstransforms & {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*
 * Used in Iman Footer Links (copyright)
 */
.nav-3 {

  li {
    float: left;
    display: inline;
    border-left: 1px solid $grey-dark;
  }

  a {
    padding: 0 6px;
    color: $grey-dark;
    text-decoration: none;
  }

  a:hover {
    color: $white;
    text-decoration: underline;
  }

  li:first-child {
    border-left: none;
  }

  li:first-child a {
    padding-left: 0;
  }
}

.nav-secondary {
  @extend .nav;
  @extend .list-inline;

  li {
    border-left: 1px solid $border-color;
    line-height: 20px;
  }

  li:first-child {
    border-left: none;
  }

  a {
    text-decoration: none;
    padding: 0 $spacing-small;
    font-size: 12px;
  }
}

.nav-4 {
  border-top: 1px solid #666;

  // When this nav is a sub-menu
  &.nav--sub {
    border-top: 0;
    .nav__item:first-child a {
      box-shadow: 0 4px 5px rgba(black, 0.25) inset;
    }
    & > .nav__item > a {
      padding-left: 30px;
    }
  }

  &.nav--muted {
    a {
      text-transform: uppercase;
      font-size: 10px;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }

  .nav__item {
    @include border-box;
    display: block;
    position: relative;
  }

  a {
    @include improve-text-rendering;
    border-bottom: 1px solid #666;
    background: #444;
    color: white;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: baseline(2);
    padding: 0 20px;
    text-decoration: none;
    &:hover {
      background: #555;
    }
  }
}

.nav-ribbon {
  background-color: $grey-lightest;
  color: #666;
  border-bottom: 1px solid $grey;
  padding: spacing(1) 0;

  & > div {
    @include clear-floats;
  }
}

.nav-5 {

  .nav__item {
    border-left: 1px solid $grey;
    display: inline;
    float: left;
  }

  .nav__item:first-child {
      border-left: none;

      a {
        padding-left: 0;
      }
  }

  .nav__item a,
  .nav__item a:visited,
  .nav__item input[type=submit] {
      padding: 0 $spacing-small;
      color: $grey-dark;
      font-size: 11px;
      text-decoration: none;
  }

  .nav__item a:hover {
      color: $blue-lightest;
      text-decoration: underline;
      cursor: pointer;
  }
}

#search input {
    border: 1px solid darken($grey, 5);
    line-height: 1;
    float: left;
}

#search input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border-right:0 none !important;
    border-radius: 4px 0 0 4px;
    color: #666666;
    height: 22px;
    padding: 0 spacing(1);
    width: 200px;
    font-size: 12px;
}

#search input[type="submit"] {
    background: #DDD;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#F9F9F9), color-stop(100%,#DDD));
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    -moz-box-shadow: 1px 1px 0 rgba($white, 0.5) inset;
    -webkit-box-shadow: 1px 1px 0 rgba($white, 0.5) inset;
    box-shadow: 1px 1px 0 rgba($white, 0.5) inset;
    color: #444;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    height: 24px;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 white;
    width: 60px !important;
    font-family: Arial,Helvetica,sans-serif;
}

// Iman Progress Nav - Used throughout Join
.im-nav-progress {
  overflow: hidden;
  padding-top: 3px; // prevent the border cut-off of an active item
  position: relative;

  &:before {
    @include linear-gradient(#79be10, #b9f859, left);
    bottom: 0;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
  }

  .im-nav-progress__item {
    float: left;
    height: 40px;
    position: relative;
    text-align: center;

    &:before,
    &:after {
      bottom: 0;
      content: "";
      display: block;
      height: 10px;
      position: absolute;
      width: 1px;
      z-index: 5;
    }

    &:before {
      background: #ccc;
      background: rgba(#fff, 0.4);
      left: -1px;
    }

    &:after {
      background: #888;
      background: rgba(#000, 0.2);
      left: 0;
    }
  }

  .label {
    color: #777;
    display: block;
    font-size: 15px;
    padding: 0 0 20px 0;
    text-decoration: none;
  }

  .is-current .label {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #444;
    display: inline-block;
    font-weight: 600;
    padding: 2px 0;
    position: relative;
    top: -3px;
    width: 125px;
    z-index: 100;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    &:before {
      @include triangle('bottom', 12px, 6px, #ccc);
      bottom: -7px;
    }

    &:after {
      @include triangle('bottom', 12px, 6px, #fff);
      bottom: -6px;
    }

    .no-csstransitions &:before,
    .no-csstransitions &:after {
      left: 56px;
    }
  }

  .mask {
    @include animation(slide-right ease 0.5s 0.5s forwards);
    background: #eee;
    bottom: 0;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;

    .no-csstransitions & {
      left: 50%;
    }
  }

  .is-completed .mask {
    display: none;
  }
}